<!DOCTYPE html>
<html>

<head>
	<!-- Including the bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
	</script>
	<link rel="stylesheet" href="css/styles.css">

	<!-- Including the Select2 CDN-->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<!-- Including the Font Awaesome CDN -->
	<script src="https://kit.fontawesome.com/0e3ed1d792.js" crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-expand-sm" style="background-color: rgb(235, 239, 241); border-bottom: solid;">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active" style="font-weight:bold; font-size: xx-large; ">
                <a class="nav-link" href="/" style="color:black">
				CP Database
                </a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/dashboard" style="color:black; font-weight: bold;">
					Dashboard
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/register" style="color:black; font-weight: bold;">
					Register
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/" style="color:black; font-weight: bold;">
					Log In
				</a>
			</li>
		</ul>
	</nav>
</body>

</html>