<%- include("partials/header.ejs") %>

<div class="problem-container">
    <% for(let i = 0 ; i < problemsData.length; i++){ %>
        <div class="problem-card">
            <div style="border-bottom: solid;">
            <%= problemsData.problemid : problemsData[i].problemname %>
            </div>
            <% let submissionLink = "https://codeforces.com/contest/" + problemsData[i].problemid + "/submission/" + problemsData[i].submmissionID %>
            <ul class="problem-data">
                <li>
                 <a href="<% submissionLink %>" > Submission Link </a> 
                </li>
                <li>
                    Tags : <% for(let key in problemsData[i]){  %>
                        <% if(problemsData[i].hasOwnProperty(key) && problemsData[i][key] !== null && (key !== 'sno' && key !== 'user' && key !== 'problemid' && key !== 'problemname')) {%> 
                            <%= key %>
                        <% } %>
                    <%} %>
                </li>
            </ul>
        </div>  
    <% } %>
</div>