<%- include("partials/header.ejs") %>

<div class="handle-card">
    <form action="/submithandle" method="POST">
        <label for="handle">Enter handle to fetch submissions from: </label>
        <input id="handle" type="text" name="currentHandle"/>
    </form>
</div>