<%- include("partials/header-loggedout.ejs") %>

<div class="register">
    <% if(locals.message){ %>
        <%= message %>
    <% } %>
    <form action="/register" method="POST">
        <h3>Register</h3>
        <div>
        <label for="email" style="font-size: larger;">Email</label><br>
        <input type="text" placeholder="Email" name="email" class="reg-input">
        </div>
        <div>
        <label for="password" style="font-size: larger;">Password</label><br>
        <input type="password" placeholder="Password" name="password" class="reg-input">
        </div>
        <button class="login-button">Sign up</button>
    </form>
</div>