.dashboard {
    display: flex;
}

.problem-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.problem-card {
    border: black;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    margin-top: 1rem;
    background-color: rgb(237, 231, 223);
    font-size:xx-large;  
    padding:none;
    width: 30%;
    height:48vh;
    margin-left: 5vh;
    word-wrap: break-word;
    overflow: hidden;      
    position: relative; 
}

.problem-data {
    font-size:  large;
    text-align: left;
}

.upload-card {
    border: black;
    border-style: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:fit-content;
    padding:5px;
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: antiquewhite;
}   

.tag-filter {
    border-left: solid;
    padding-left: 1%;
    text-align: center;
    height: 100vh;
}

.problem-box {
    font-size: larger;
}

.register {
    border: black;
    border-style: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:fit-content;
    padding:5px;
    position: absolute;
    height: 40%;
    width: 25%;
    top: 30%;
    left: 40%;
    background-color: rgb(245, 237, 237);
}

.reg-input {
    height: 50px;
    width: 70%;
    margin-bottom: 5px;
}

.bottom-right {
    position: absolute;
    bottom:5px; 
    right: 5px;
}

.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
}

