.handle-card {
    background-color: antiquewhite;
    border-radius: 20px;
    border: solid;
    display:inline-block;
    width: 50vh;
    height: 10vh;
    position: absolute;
    top: 30%;
    left: 40%;
    text-align: center;
}

.problem-container {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    width:80%;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
}

.problem-card {
    border: black;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    margin-top: 1rem;
    background-color: rgb(240, 235, 227);
    font-size:xx-large;  
    padding:none;
    width: 50vh;
    height:48vh;
    margin-left: 5vh;
    word-wrap: break-word;
    overflow: hidden;
}
.problem-data {
    font-size: x-large;
    text-align: left;
}

.upload-card {
    border: black;
    border-style: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:fit-content;
    padding:5px;
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: antiquewhite;
}

.tag-filter {
    text-wrap: wrap;
    border-left: solid;
    padding-left: 0.5%;
}

.problem-box {
    font-size: larger;
}